html, body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 20px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.skip-to {
   position: absolute; 
   z-index: 10;
   transform: translateY(-100px);
   padding: 0.5rem;
   background-color: #666;
   color: #fff;
}

.skip-to:focus {
    transform: translateY(0px);
}

.header {
    /* background-color: rgb(189, 189, 189); */
    background: linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.6) 0%, 
        rgba(217, 217, 217, 0) 100%);
    z-index: 5;
    position: relative;
    min-height: 5rem;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header--centered {
    max-width: var(--max-width);
    width: 100%;
    min-height: 3rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 10;
    min-height: 2.5rem;
    padding: 0.4rem;
}

.overlay-menu {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

.overlay-menu ul {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

.overlay-menu ul a {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 540px) {
    .desktop-nav {
        display: block;
    }
    .mobile-nav {
        display: none;
    }
    .mobile-menu-icon {
        display: none;
    }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.desktop-nav ul li a {
    color: #fff;
    transition: color 0.4s ease-in-out;
    transition-delay: 0.1s;
}

.desktop-nav ul li a:hover {
    color: rgb(219, 211, 54);
}

.desktop-nav ul li {
    border-bottom: 0.15rem solid transparent;
    padding: 0 0.3rem 0.2rem 0.3rem;
    transition: all 0.3s ease-in-out;
}

.desktop-nav ul li:hover {
    border-bottom: 0.15rem solid rgb(219, 211, 54);
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    background-image: url('../assets/hero_cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-100px);
}

.hero .main-title-site {
    margin: auto 0;
}

.hero h2 {
    margin: auto 0;
}

.hero .arrow {
    width: 5rem;
    animation-name: bounceArrow;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bounceArrow {
    from {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
}

.main--centered {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-family: var(--app-font);
}

p {
    font-size: 1rem;
    font-family: var(--app-font);
}

.projects-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem
}

.card {
    display: inline-block;
    width: 15rem;
    background-color: #fff;
    padding: 0.5rem;
}

.card img {
    width: 100%;
}

.project__cover {
    width: 100%;
}
