html, body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 20px;
}

.skip-to {
   position: absolute; 
   z-index: 10;
   transform: translateY(-100px);
   padding: 0.5rem;
   background-color: #666;
   color: #fff;
}

.skip-to:focus {
    transform: translateY(0px);
}

.header {
    /* background-color: rgb(189, 189, 189); */
    background-color: transparent;
    z-index: 5;
    position: relative;
}

.header--centered {
    max-width: var(--max-width);
    width: 100%;
    min-height: 3rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../assets/hero_cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-60px);
}

.hero .arrow {
    width: 5rem;
    position: absolute;
    bottom: 2rem;
}

.main--centered {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-family: var(--app-font);
}

p {
    font-size: 1rem;
    font-family: var(--app-font);
}

.projects-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem
}

.card {
    display: inline-block;
    width: 15rem;
    background-color: #fff;
    padding: 0.5rem;
}

.card img {
    width: 100%;
}
